.anvil-role-taco-conditions.tabulator {
    background-color: transparent;

    & .tabulator-tableholder .tabulator-table {
        background-color: transparent;
    }

    & .tabulator-row {
        background-color: transparent;
        border-radius: 24px;
        border: 0;

        &.tabulator-selectable:hover {
            background-color: %color:Surface Variant% !important;
        }

        &.tabulator-selected {
            background-color: %color:Primary Container% !important;

            &:hover {
                background-color: %color:Primary Container% !important;
            }
        }
    }
}

.anvil-role-taco-condition-header {
    padding-top: 0px;
    padding-bottom: 0px
}

.anvil-role-taco-condition-detail {
    padding-top: 0px;
    padding-bottom: 0px
}

.anvil-role-taco-conditions-outlined > .btn {
  color: %color:Primary%;
  border: solid 1px %color:Outline%;
}

.anvil-role-taco-conditions-outlined > .btn:hover {
  background-color: %color:Light Overlay 1%;
}

.anvil-role-taco-conditions-outlined > .btn:focus, .anvil-role-taco-conditions-outlined > .btn:active {
  background-color: %color:Light Overlay 2%;
  color: %color:Primary%;
}
